{% extends "settings/settings_base.html" %}

{% block title %}
Password Settings
{% endblock %}

{% block header_title %}
Password and Security
{% endblock %}

{% block content %}

<section class="settings-form-card">

    <form method="POST"
          id="passwordForm">

        <label class="form-label fw-bold">
            Old Password
        </label>

        <input type="password"
               name="old_password"
               class="form-control mb-3"
               autocomplete="current-password"
               required>


        <label class="form-label fw-bold">
            New Password
        </label>

        <input type="password"
               id="newPassword"
               name="new_password"
               minlength="6"
               class="form-control mb-3"
               autocomplete="new-password"
               required>


        <label class="form-label fw-bold">
            Confirm New Password
        </label>

        <input type="password"
               id="confirmPassword"
               name="confirm_password"
               minlength="6"
               class="form-control mb-4"
               autocomplete="new-password"
               required>


        <button type="submit"
                class="btn btn-danger w-100"
                style="
                    min-height:48px;
                    border-radius:14px;
                    font-weight:800;
                ">

            Change Password

        </button>

    </form>

</section>

{% endblock %}